/* Global Styles */
body {
    overflow-x: hidden;
    box-sizing: border-box;
    
}

div.flex, nav.flex, footer.flex {
    display: flex;
}

/* Navbar */

nav.mobile {
    display: none;
}

nav.desktop {
    justify-content: space-between;
    height: 4rem;
    background-color: white;
}

a.colmar-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}
/* change this to have the logo grow instead of BG color*/
a.colmar-logo:hover {
    background-color: rgb(138, 155, 185);
}

div.nav-items {
    justify-content: start;
    align-items: center;
}

.nav-items a {
    padding: 1.562rem 1.2rem;
    
}

a h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #020226;
    text-transform: uppercase;
    font-size: 15px;
}

.nav-items a:hover {
    background-color: rgb(33, 47, 73);    
}

.nav-items a:hover h3 {
    color: whitesmoke;
}

/* Header and Info layout with grid and flexbox */

div.header-text, div.info, div.sidebar {
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

div.header-content {
    justify-content: center;
}

div.header-text {
    justify-content: center;
    font-weight: 300;
    line-height: 1.2;
}

div.cta-container {
    padding: 1rem 0.5rem;
    width: 85%;
    background-color: whitesmoke;
    border-radius: 2px;
    opacity: 0.8;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

div.cta-container p.one-liner {
    margin-bottom: 1.5rem;
    color: rgb(33, 47, 73);
    line-height: 1.4;
}

div.cta-container  a div.cta-blue {
    background-color:rgb(26, 38, 59);
    width: max-content;
    padding: 0.7rem 3rem;
    border-radius: 3px;
    box-shadow: 0 6px 6px -6px rgb(26, 38, 59);
}

a div.cta-blue p {
    color: whitesmoke;
    opacity: initial;
    text-transform: uppercase;
    letter-spacing: 0.7px;  
}

a.cta div.cta-blue:hover {
    background-color:rgb(69, 88, 122);  
}

div.grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row: auto;
}

div.info-text {
    padding-left: 1.5rem;
}

div.info-text > * {
    line-height: 2rem;
}

div.info-text h1 {
    font-size: 1.2rem;
    font-weight: 500;
    color:rgb(27, 27, 51);
}

.info-main-quote {
    padding-top: 0.5rem;
    font-weight: 300;
    font-style: italic;
    
}

.info-main-credit {
    font-size: 0.8rem;
    padding-top: 1.5rem;
}

div.header-content, div.grid > div.image-container {
    background-color: rgb(33, 47, 73);
}

div.header-content {
    height: 100%;
}

/* Sidebar */

div.sidebar {
    border-left: 0.5px solid lightgrey;
}

div.sidebar > * {
    padding: 1rem 1rem;
    border-bottom: 0.5px solid lightgrey;
}

div.sidebar div.orientation {
    padding-top: 2rem;
}
div.lecture {
    padding-bottom: 2rem;
    border-bottom: none;
}

div.sidebar-text {
    width: 65%;
    line-height: 1.5; 
    padding-left: 1rem; 
    position: relative;
}

div.sidebar-text h2 {
    font-size: 1.2rem;
}

div.sidebar-text p, div.sidebar-text a {
    font-weight: 300;
}

div.sidebar-text a.read-more {
    position: absolute;
    bottom: 0;
    line-height: 1;
    font-size: 0.9rem;
    color: black;
    text-transform: uppercase;
}

div.sidebar:hover > div {
    opacity: 0.5;
    background-color: rgb(237, 242, 250);
}

div.sidebar:hover > div:hover {
    opacity: 1;
    background-color: rgb(224, 234, 250);
}

div.sidebar:hover > div:hover a.read-more {
    color: rgb(49, 71, 110);
}


/* Courses layout with flex and grid */

div.mobile-courses {
    display: none;
}

div.desktop-courses, div.thesis {
    width: 100%;
    background-color: rgb(33, 47, 73);    
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
    font-family: 'Roboto', sans-serif;
}

h1.section-title {
    padding: 2rem 0;
    font-weight: 400;
    font-size: 2rem;
    color: whitesmoke;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    font-family:'Roboto', sans-serif;
}

h1.section-title.blue{
    color:rgb(33, 47, 73);
    padding-bottom: 0;
} 

div.courses-grid {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    background-color: rgb(33, 47, 73);    
}

div.courses-grid > div.flex {
    flex-direction: column;
    background-color: white;
}

div.course-text {
    padding: 1rem 1rem 1rem;
}
div.course-text a.course-name h3 {
    font-size: 1rem;
    font-weight: 400;
}
div.course-text h4 {
    font-size: 0.8rem;
}
div.course-text h5 {
    padding: 1rem 0;
    font-weight: 300;
}

div.courses-grid:hover > div {
    opacity: 0.7;
}

div.courses-grid:hover > div:hover {
    opacity: 1;
}

div.shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}


/* Thesis layout with flex and grid */ 
/* div.thesis flex rules already defined in Courses section */

body div.thesis {
    background-color: white;
}

div.thesis {
    padding-bottom: 2.5rem;
}

div.no-border {
    border-left: none;
    margin-top: 2rem;
}

div.sidebar div.article-1 {
    border-top: 0.5px solid lightgrey;
}

div.info-text p.info-main-quote.thesis-quote {
    line-height: 1.5rem;
    width: 95%;
}

/* Footer */

footer.flex {
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: rgb(33, 47, 73);     
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-weight: 300;
    font-size: 0.9rem;
}

footer p {
    padding-left: 1.5rem;
}

footer div {
    padding-right: 1rem;
}

footer div a {
    padding-right: 0.5rem;
    color: whitesmoke;
}

footer div a:hover {
    opacity: 0.5;
}

/* Desktop Images and Video */

div.image-container, div.video-container {
    overflow: hidden;
    
}

img.image-shadow {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    
}

div.image-container img, div.video-container video {
    max-width: 100%;
    height: auto;
    display: block;
}

 div.grid > div.image-container, div.info > div.image-container, div.video-container {
    padding: 2rem 1.5rem;
 }
 
picture.sidebar-image {
    width: 35%;
    overflow: hidden;
}

picture.sidebar-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Media Query for mobile */

@media only screen and (max-width: 600px) {

    div.desktop, div.desktop-courses, nav.desktop {
        display: none;
    }

    div.grid {
        grid-template-columns: 1fr;
    }

    nav.mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4rem;
    }

    nav.mobile a:hover {
        opacity: 0.5;
    }

    div.header-content {
        width: 100%;
        margin-bottom: 3rem;
    }

    div.header-text {
        width: 100%;
        align-items: center;
        text-align: center;
    }

    div.header-text h1 {
        width: 90%;
    }

    div.cta-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    div.sidebar > * {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;    
    }

    div.sidebar div.flex > * {
        width: 100%;
        padding-bottom: 1rem;    
    }

    div.sidebar {
        padding: 0;
    }

    div.mobile-courses {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: rgb(33, 47, 73);  
        padding-bottom: 4rem;
    }

    a.course-name {
        width: 80%;
        padding: 2rem 1rem;
        background-color: lightgrey;
        margin-bottom: 0.5rem;
    }

    a.course-name:hover {
        background-color: whitesmoke;
    }

    div.thesis {
        padding-bottom: 0;
    }

    h1.section-title.blue {
        padding: 1.5rem 0;
    }

    div.grid > div.image-container, div.video-container {
        padding: 0rem;
    }

    footer div {
        display: none;
    }

    footer.flex {
        justify-content: center;
    }    
}