/* Global Styles */
body {
    overflow-x: hidden;
    box-sizing: border-box;
}

div.flex, nav.flex {
    display: flex;
}

/* Navbar */

nav.mobile {
    display: none;
}

nav.desktop {
    justify-content: space-between;
    height: 4rem;
    border-bottom: 1px black solid;
}

div.colmar-logo {
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
}

div.nav-items {
    justify-content: start;
    align-items: center;
    margin-right: 1.5rem;
}

.nav-items a {
    margin-left: 1rem;
}

/* Header and Info layout with grid and flexbox */

div.header-text, div.info, div.sidebar {
    flex-direction: column;
}

div.header-content {
    justify-content: center;
}

div.header-text {
    justify-content: center;
    /* positioning without flex - not responsive
    height: 60%;
    position: relative;
    top: 15rem; */ 
}

div.header-info-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-row: auto;
}

/* Don't know if this is doing anything 
div.info {
    /*align-self: start; 
}
*/

div.info-text {
    padding-left: 1.5rem;
}

div.info-text > * {
    line-height: 2rem;
}

div.header-content, div.header-info-grid > div.image-container {
    background-color: lightgrey;
}

div.header-content {
    height: 100%;
}

/* sidebar */

div.sidebar {
    padding: 2rem 0;
    border-left: 0.5px solid lightgrey;
}

div.sidebar-text {
    width: 65%;
    
}

div.sidebar > * {
    margin-bottom: 1rem;
}

/* Courses flex and grid */

div.mobile-courses {
    display: none;
}

div.desktop-courses, div.thesis {
    width: 100%;
    background-color: lightgrey;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

h1.section-title {
    padding: 2rem 0;
}

div.courses-grid {
    display: grid;
    width: 70%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    background-color: lightgrey;
}

div.courses-grid > div.flex {
    flex-direction: column;
    background-color: white;
}

div.course-text {
    padding: 1rem 1rem 2rem;
}

/* Thesis flex and grid */ 
/* div.thesis flex rules already defined in Courses section */

body div.thesis {
    background-color: white;
}

div.no-border {
    border-left: none;
}

/* All Images */

div.image-container, div.video-container {
    overflow: hidden;
}

div.image-container img, div.video-container video {
    max-width: 100%;
    height: auto;
    display: block;
}

 div.header-info-grid > div.image-container, div.info > div.image-container, div.video-container {
    padding: 2rem 1.5rem;
 }
 
picture.sidebar-image {
    width: 35%;
    overflow: hidden;
}

picture.sidebar-image img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Media Query for mobile */

@media only screen and (max-width: 600px) {

    div.desktop, div.desktop-courses, nav.desktop {
        display: none;
    }

    div.header-info-grid {
        grid-template-columns: 1fr;
    }
}